@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+4:opsz@8..60&display=swap');

:root {
    --primary-color: #FFD29D;
    --secondary-color: #FFB563;
    --accent1-color: #918450;
    --accent2-color: #F85E00;
    --accent3-color: #A41623;

    --heading-font: 'Source Serif 4', serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #FFD29D;
    --nav-link-color: #F85E00;
    --nav-hover-link-color: #FFB563;
    --nav-hover-background-color: #FFB563;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color)
}

header {
    padding: 20px;
    background-color: var(--primary-color);
}

p {
    padding: 25px;
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}