@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+4:opsz@8..60&display=swap');

:root {
    --primary-color: #FFD29D;
    --secondary-color: #FFB563;
    --accent1-color: #918450;
    --accent2-color: #F85E00;
    --accent3-color: #A41623;

    --heading-font: 'Source Serif 4', serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #FFD29D;
    --nav-link-color: #F85E00;
    --nav-hover-link-color: #FFB563;
    --nav-hover-background-color: #FFB563;
}

* {

    font-family: var(--paragraph-font);
    font-family: var(--heading-font);
}

header,
main,
footer {
    max-width: 940px;
    margin: 0 auto;
}

main {
    font-family: var(--paragraph-font);
}

header {
    background-color: var(--primary-color);
    font-family: var(--paragraph-font);
}

nav a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3 {
    color: var(--accent2-color) !important;
}

h2 {
    padding: 10px;
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    padding: 20px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 30px;
    right: 20px;
    background-color: rgba(0, 0, 0, 60%);
    font-size: 18px;
}

.hero h1 {
    position: aboslute;
    text-align: center !important;

}

.hero article img {
    width: 200px;
    height: auto;
    float: right;
    padding: 10px;
}

footer {
    text-align: center;
}