@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+4:opsz@8..60&display=swap');

:root {
    --primary-color: #FFD29D;
    --secondary-color: #FFB563;
    --accent1-color: #918450;
    --accent2-color: #F85E00;
    --accent3-color: #A41623;

    --heading-font: 'Source Serif 4', serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #FFD29D;
    --nav-link-color: #F85E00;
    --nav-hover-link-color: #FFB563;
    --nav-hover-background-color: #FFB563;
}

body {
    max-width: 960px;
}

header {
    background-color: var(--primary-color);
}

.logo {
    border: 2px solid black;
}

nav a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    color: var(--accent2-color) !important;
}

h1 {
    position: absolute;
    background-color: black;
    text-align: center;
    width: 100%;
}


p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 1024px;
    text-align: left;
}

.hero {
    position: relative;
    display: block;
    width: 100% !important;
    height: auto;
}

article {
    position: absolute;
    background-color: rgba(153, 153, 102, 40%);
}

article img {
    width: 200px !important;
    float: right !important;
    padding-right: 5em;
}

article p {
    margin: -20em;
    background-color: rgba(153, 153, 102, 40%);


}

.sociallinks {
    text-decoration: none;
}