@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+4:opsz@8..60&display=swap');

:root {
    --primary-color: #efdac1;
    --secondary-color: #f6c894;
    --accent1-color: #72673e;
    --accent2-color: #F85E00;
    --accent3-color: #82101a;

    --heading-font: 'Source Serif 4', sans-serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #F85E00;
    --nav-link-color: #efdac1;
    --nav-hover-link-color: #f6c894;
    --nav-hover-background-color: #72673e;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

hgroup {
    font-family: var(--heading-font);
    color: var(--accent3-color);
}

header {
    padding: 20px;
    background-color: var(--primary-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}