@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+4:opsz@8..60&display=swap');

:root {
    --primary-color: blanchedalmond;
    --secondary-color: chocolate;
    --accent1-color: #eee;
    --accent2-color: #000;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;

    --background-color: blanchedalmond;
    --secondary-background-color: #000;
    --button-color: chocolate;
    --input-color: #eee;
}

* {
    font-family: Roboto;
}

form {
    margin: 2em 4em 1em 4em;
    max-width: 550px;
}

fieldset {
    background-color: var(--background-color);
    border-radius: 10px;
}

.container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin-left: 3em;
    margin-right: 3em;
}

h1 {
    color: var(--secondary-color);
    font-size: 16px;
    margin-left: 10em;
}

h2 {
    float: left;
    color: var(--secondary-color);
    font-size: 20px;
    margin-right: 1em;
    margin-top: -2px;
}

legend {
    font-size: 20px;
    color: white;
    background-color: var(--secondary-background-color);
    width: 450px;
    text-align: center;
    margin-bottom: 2em;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

input[type=text] {
    font-size: 14px;
    width: 300px;
    height: 25px;
    margin-top: 1em;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--input-color);
}

textarea {
    font-size: 14px;
    width: 300px;
    height: 50px;
    margin-top: 1em;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--input-color);
}

select {
    color: lightgray;
    font-size: 14px;
    width: 300px;
    margin-top: 1.2em;
    margin-left: 3em;
    margin-bottom: 2em;
    border: 1px solid #000;
    background-color: var(--input-color);
    border-radius: 5px;
}

select,
input[id=q3] {
    height: 35px;
    color: var(--accent2-color);
}

input[type=number] {
    font-size: 14px;
    width: 100px;
    height: 25px;
    margin-top: 1em;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: var(--input-color);
}

button {
    color: #fff;
    font-size: 20px;
    padding: 10px;
    width: 8em;
    margin-left: 9em;
    margin-bottom: 2em;
    background-color: chocolate;
    border-radius: 7px;
}

footer {
    color: var(--button-color);
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 15em;
    font-size: 14px;
}