@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+4:opsz@8..60&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Serif 4', serif;
    margin: 1px;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

nav {
    font-family: 'source serif 4', serif;
    font-size: 15px;
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

h1 {
    color: steelblue;
    padding: 10px;
    border-bottom: 1px solid steelblue;
}

h2 {
    color: black;
}

img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
}

p {
    font-family: roboto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

aside {
    position: relative;
    width: 20rem;
    height: auto;
    margin: 1rem;
    border: 1px solid #000;
    /*  1  */
    padding: 1rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 140px;
}

aside img {
    width: 254px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    float: right;
    margin-right: 3em;
    margin-left: 2em;
    margin-top: 2em;
}

footer {
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    font-family: 'source serif 4', serif;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 2rem;
    background-color: #ddd;
    color: #000;
}

.sociallinks {
    height: 60px;
}

.sociallinks img {
    width: 30px;
}

.grid {
    display: grid;
    align-items: center;
}